:root {
  --primary: #d9f3f6;
  --secondary: #f7f8ed;
}

#root {
  background-color: var(--secondary);
}

.sidenav {
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary);
  overflow-x: hidden;
  padding-top: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px;
}

.supportButton:hover {
  opacity: .5;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  text-align: center;
  padding-top: 15px;
}

.sidenav a:hover {
  color: black;
  cursor: pointer;
}


.main {
  margin-left: 360px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--secondary);
}

.homeHeader {
  color: black;
  font-size: 34px;
  text-align: center;
  font-family: 'Lugrasimo', cursive, sans-serif;
}

.addPostButton {
  color: black !important;
  z-index: 999;
  right: 24px;
  top: 24px;
}

.userName {
  color: black;
  font-size: 28px;
  text-align: center;
  word-break: break-all;
  margin-top: 12px;
}

.avatarPhoto {
  margin: auto;

}

.commentDrawer {
  background-color: var(--primary);
}

.commentInputField {
  background-color: white !important;
  margin-bottom: 10px;
}

.commentInputButton {
  margin-bottom: 10px;
}

.mobileHeader {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background: var(--primary);
}

.mobileHomeHeader {
  font-family: 'Lugrasimo', cursive, sans-serif;
  font-size: 26px;
  color: #818181;
}

.mobileHomeHeader:hover {
  color: black;
}

menuItem {
  width: 100%;
}

.blur-overlay {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.userTitle:hover{
  cursor: pointer;
  color: gold;
}


@media screen and (max-width: 900px) {
  .main {
    margin-left: 0px;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .addPostButton{
    top: 54px;
  }
}