:root {
    --primary: #d9f3f6;
    --secondary: #f7f8ed;
  }
  
  .profileSidenav {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    padding-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .supportButton:hover {
    opacity: .5;
  }

  .profileMain {
    margin-left: 50%;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secondary);
    height: 100%;
  }

  .bio {
    color: black;
    font-size: 28px;
    text-align: center;
    margin-top: 12px;
  }
  
  .profileSidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
    padding-top: 15px;
  }
  
  .profileSidenav a:hover {
    color: black;
  }

  .profileNavLinks{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .profilePicDiv{
    align-items: center;
    display: inline-flex;
    flex-direction: column;
  }

  .profileAvatarPhoto {
    margin: auto;
    margin-bottom: 20px;
  }

  .profilePic{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }

  .aboutDiv{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .aboutBio {
    width: 700px;
  }
  
  .aboutMe {
    display: inline-flex;
    align-items: center;
    word-break: break-all;
    width: 100%;
    justify-content: space-between;
  }

  .aboutMePadding {
    padding-right: 24px;
  }

  .editButtons{
    float: right;
    margin-top: 10px;
  }